.container
    position: relative
    width: 100%
    height: 606.99px
    left: 0px !important
    top: 500px

.content
    display: flex
    justify-content: space-between
    align-items: center
    text-align: center
    padding: 0 245px
    h3
        color: #FA4A0C
        font-weight: 700
        font-size: 24px
        line-height: 36px
    h2
        font-weight: 700
        font-size: 40px
        line-height: 57px
        letter-spacing: 0.2px
    h4
        font-weight: 500
        font-size: 24px
        line-height: 38px
        letter-spacing: 0.2px
        color: #737373
.contentReverse
    display: flex
    flex-direction: row-reverse
    justify-content: space-between
    align-items: center
    padding: 0 245px
    text-align: center
    h3
        color: #FA4A0C
        font-weight: 700
        font-size: 24px
        line-height: 36px
    h2
        font-weight: 700
        font-size: 40px
        line-height: 57px
        letter-spacing: 0.2px
    h4
        font-weight: 500
        font-size: 24px
        line-height: 38px
        letter-spacing: 0.2px
        color: #737373
@media all and (max-width:768px)
    .container
        top: -390px
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        height: 900px
    .content
        padding: auto
        padding: 0 !important
        flex-direction: column-reverse
        justify-content: center
        align-items: center   
    .contentReverse
        flex-direction: column-reverse
        justify-content: center
        align-items: center
        padding: 0 !important
    

        