@import 'styles/variables.sass'
@import 'styles/helpers'
.container
    position: fixed
    top: 0
    left: 0
    right: 0
    height: 80px
    margin: 0px 10px
    display: flex
    justify-content: space-between
    align-content: center
    max-width: 100%
    padding: 30px !important
    +m
        margin: 0
        padding: 12px
        position: absolute
.hamburger
    display: none
    +m
        background: white
        display: block !important
        width: 30px

.menuList
    display: flex
    justify-content: flex-start
    align-items: center
    +m
        display: none

.active
    +m
        display: block
        position: absolute
        right: 0
        top: 80px
        z-index: 100
        height: 100vh !important
        width: 100% !important
        background: white
        text-align: center

        

        